@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container">
    <form>
        <!-- Email input -->
        <div class="row justify-content-center form-outline">
            <div class="col-md-4 col-sm-12">
                <input type="email" id="loginName" class="form-control" />
                <label class="form-label" for="loginName">Email or username</label>
            </div>
        </div>

        <!-- Password input -->
        <div class="row justify-content-center form-outline">
            <div class="col-md-4 col-sm-12">
                <input type="password" id="loginPassword" class="form-control" />
                <label class="form-label" for="loginPassword">Password</label>
            </div>
        </div>

        <!-- Submit button -->
        <div class="row justify-content-center form-outline">
            <div class="col-md-4 col-sm-12">
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
            </div>
        </div>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a class="" asp-area="" asp-controller="authorize" asp-action="register">Register</a></p>
        </div>
    </form>
</div>